# Copy to .env and fill values before running scripts/run-migration.js
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER='root'
DB_PASS='PHD#$234asd'
DB_NAME='smartcity_management_system'
JWT_SECRET='hellomydear'
